.container {
    width: 95%;
    padding: 0px 10px 0px;
  }


.command-button {
  margin-right: 3px;
}

table {
  font-size: small;
  width: 100%;
  background-color: white;
}


th {
  font-size: small;
  font: bold;
}

th, td {
  padding: 1px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
  