.piechart {
  height: 500px;
  width: 480px;
  margin: 0 auto;
}

.chart-container {
  display: block;
  position: relative;
}

.w100 {
  width: 100%;
  height: 360px;
  overflow: hidden;
  display: block;
}