<div class="login-register" style="background-color: saddlebrown;">
    <div class="login-register-box">
        <mat-card class="m-t-10">
            <mat-card-content>
                <form>
                    <div class="text-center">
                        <img alt="homepage" src="assets/images/pg_logo_login.png">
                    </div>
                    <div fxLayout="row wrap">
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput type="password" placeholder="Old Password" [(ngModel)]="password"
                                    name="pwd" required="">
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput type="password" placeholder="New Password" [(ngModel)]="newpassword"
                                    name="npwd" required="" minlength="8">
                                <small>
                                    Password is required (minimum 8 characters).
                                </small>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput type="password" placeholder="Confirm New Password"
                                    [(ngModel)]="confirmpassword" name="cpwd" required="" minlength="8"
                                    validateEqual="npwd">
                                <small>
                                    Password is required (minimum 8 characters).
                                </small>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="30">
                            <button mat-raised-button color="primary" class="" (click)="backButton()"
                                type="button">Back</button>
                        </div>
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50">
                            <button mat-raised-button color="primary" class="" (click)="changePassword()"
                                type="button">Chang Password</button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>